#wrapper { padding-left: 250px }

#header {
    margin-left: -250px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 250px;
    bottom: 0;
    z-index: 1000;
 }

#content { margin: 45px 20px; width: 100%;  }

/* Pure CSS overrides */
.pure-menu-has-children .pure-menu-children { background: #fff; border: 1px solid #b7b7b7; }
.pure-form-stacked .pure-controls { margin-top: 20px }
.notice { background-color: #0F52BA; color: #FFFFFF; }
.pure-form input:focus, .pure-form select:focus { border-color: #0F52BA !important; }

/* General Styles */

/* Forms */
.sbf-form-errors { background: #ffe2e2; border: 2px solid #ce4242; font-size: 90%; color: #ce4242; margin-top: 5px; padding: 5px; text-align: center; }
form { max-width: 500px; margin: 0 auto !important; }
#form-login {
    background: #f6f6f6;
    max-width: 350px;
    padding: 35px 75px;
   -moz-box-shadow:    inset 0 0 10px #999;
   -webkit-box-shadow: inset 0 0 10px #999;
   box-shadow:         inset 0 0 10px #999;
}
